<div class="col-md-8" ui-view>
    <img src="./assets/a1.png" id="a2" class="img-responsive">
    <p id="stuff"> Your stuff</p>
    <div class="list-group table-of-contents" id="data3">
        <a class="list-group-item menu-label" id="1" href="/#/logged/addOffer">Search - add offer</a>
        <a class="list-group-item menu-label" id="2" href="/#/logged/yourOffer">Future buddies- your offers</a>
        <a class="list-group-item menu-label" id="3" href="/#/logged/viewOffer">Find your buddy! - offer list</a>
    </div>
    <p class="text-muted"  id="fot"><a href="/#/logged/privacy">Privacy</a> · <a href="#/logged/policy">Terms</a> · <a href="#/logged/policy">Advertising</a> · <a href="#/logged/choices">Ad Choices</a> · <a href="#/logged/cookies">Cookies More</a> </p>
</div>

<div class="col-md-1" >
    <img src="./assets/tmp.png" id="a3" class="img-responsive">
</div>
<div class="col-md-3" id="one">
    <img src="./assets/d.png" id="logo-home" class="img-responsive">
    <div id="data2">
        <p id="name">{{loggedCtrl.user.firstName}}</p>
        <p id="surname">{{loggedCtrl.user.lastName}}</p>
        <p id="email">{{loggedCtrl.user.email}}</p>
        <p id="login2">{{loggedCtrl.user.login}}</p>
        <a href="#/logged/editUser" class="btn btn-success" id="b1">Update/Edit/Add your info!</a>
    </div>
</div>
