#one{
  padding-top: 30px;
}

#h11 {
  padding-top: 50px;
  font-weight: bold;
  font-size: 1.7em;
  color: #BFAA8F;
}

h2 {
  font-size: 1.0em;
  padding-bottom: 20px;
}

#h12 {
  padding-top: 50px;
}
#logo-home{
  padding-top: 30px;
}
#stuff{
  padding-top: 20px;
  font: italic normal bold 50px/1 "bangers", Helvetica, sans-serif;
  color:  #4B4B4B;
  text-align: center;
  margin-left: 20px;
}

a.menu-label{
  background-color: #4B4B4B;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  color: #FFFFFF;
  border-color: transparent;
  box-shadow: inset 0 1px 2px  0 rgba(0,0,0,0.4);
}

.list-group-item{
  margin-top: 20px;
}

#name{
  text-align: center;
  margin-top: 20px;
  background-color: #D2BC96;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: inset 0 1px 2px  0 rgba(0,0,0,0.4);
}
#surname{
  text-align: center;
  background-color:  #D2BC96;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: inset 0 1px 2px  0 rgba(0,0,0,0.4);
}
#email{
  text-align: center;
  background-color:  #D2BC96;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: inset 0 1px 2px  0 rgba(0,0,0,0.4);
}
#login2, #sex, #age {
  text-align: center;
  background-color: #D2BC96;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: inset 0 1px 2px  0 rgba(0,0,0,0.4);
}
#fot, #for:hover, #fot:link{
  color: rgba(0,0,0,0.2);
  text-align: center;
}

#div1, #div2, #div3 {
  & > button:hover {
    background-color: #bbbbbb;
  }
}

/*#div1:hover{
    background-color: rgba(0,0,0,0.2);
}

#div2:hover{
  background-color: rgba(0,0,0,0.2);
}
#div3:hover{
    background-color: rgba(0,0,0,0.2);
}*/


#b1{
  margin-top: 20px;
  padding-left: 15px;
  text-align: center;
  background-color: #A53D36;
  border-color: #A53D36;
  //padding-right: 40px;
}
#a2{
  padding-top: 40px;
  margin-left: 180px;
  max-width: 50%;
  max-height: 50%;
}

#a3{
  padding-top: 50px;
}
