<div class="row row-eq-height" id="login" >
    <div class="col-xs-4">
        <img src="./assets/adss.png" id="logo-home" class="img-responsive">
    </div>
    <div class="col-xs-8">
        <h1>Find your buddy!</h1>
        <h2>You are closer than ever, just log in!</h2>
        <div class="form-group">
            <a href="login/facebook" id="buttonFacebook" class="btn btn-success">Login via facebook</a>
        </div>
        <div class="form-group">
            <a href="login/github"  id="buttonGithub" class="btn btn-success">Login via github</a>
        </div>
    </div>
</div>