
<div class="row row-eq-height" id="home">
    <div class="col-xs-4">
        <img src="./assets/adss.png" id="logo-home" class="img-responsive">
    </div>
    <div class="col-xs-8">
        <div class="vert-centered">
            <img src="./assets/a1.png" id="a1" class="img-responsive">
            <h1>Buddy Finder</h1>
            <h2>Find your buddy! </h2>
            <p id="p1">If you are lonley, don't want to go out just by yourself anymore, this app is made for you!</p>
            <p id="p2">See what's new in categories like: date, game etc.. </p>
            <p id="p3">Post your offers-> go to cinema, night-club</p>
        </div>
    </div>
</div>