#home {
  font-size: 2.5em;

  h1 {
    padding-top: 20px;
    text-align: center;
    padding-left: 80px;
    font-weight: bold;
    font-size: 1.5em;
    color: #4B4B4B;
  }
  h2 {
    text-align: center;
    padding-bottom: 30px;
    padding-left: 80px;
    color:  #4B4B4B;
  }

  #logo-home {
    background-color: white;
    padding-top: 75px;
    margin-top: 50px;
  }
  #a1{
    margin-left: 200px;
    padding-top: 20px;
    max-width: 50%;
    max-height: 50%;
  }
  #a2{
    margin-left: 200px;
    max-width: 50%;
    max-height: 50%;
  }
}