<div class="col-md-8" ui-view>
    <img src="./assets/a1.png" id="a2" class="img-responsive">
    <p id="stuff"> Your stuff</p>
    <div class="list-group table-of-contents" id="data3">
        <a class="list-group-item menu-label" id="1" href="/#/logged/addOffer">Search - add offer</a>
        <a class="list-group-item menu-label" id="2" href="/#/logged/yourOffer">Future buddies- your offers</a>
        <a class="list-group-item menu-label" id="3" href="/#/logged/viewOffer">Find your buddy! - offer list</a>
    </div>
</div>

<div class="col-md-1" >
    <img src="./assets/tmp.png" id="a3" class="img-responsive">
</div>

<div class="col-md-3" id="one">
    <img src="./assets/d.png" id="logo-home" class="img-responsive">
    <div id="data2">
        <p id="name">Izabella</p>
        <p id="surname">Szlosarczyk</p>
        <p id="email">iza.bella@gmail.com</p>
        <p id="login2">bella124</p>
        <a href="#" class="btn btn-success" id="b1">Update/Edit/Add your info!</a>
    </div>
</div>