<div class="col-md-12">
    <h1 id="artificial">-</h1>
    <form class="form-horizontal" id="informacje2">
        <fieldset>
            <div class="form-group">
                <label for="selectType" class="col-xs-4 control-label" id="labelType">Type of offer*</label>
                <div class="col-xs-6">
                    <select class="form-control" id="selectType">
                        <option>Date</option>
                        <option>Game</option>
                        <option>Party-Mate</option>
                        <option>Custom</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="where" class="col-xs-4 control-label"id="labelPlace">Choose place*</label>
                    <div class="col-xs-3">
                        <input type="text" id="where" class="form-control" id="where" placeholder="where" ng-model="addOfferCtrl.where">
                    </div>
                    <div class="col-xs-3">
                        <button type="submit" class="btn btn-success" id="button2">Find    place</button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAdd" class="col-xs-4 control-label" id="labelAdd">Additional info</label>
                    <div class="col-xs-6">
                        <input type="text" id="tmp" class="form-control" id="inputAdd" placeholder="another info" ng-model="addOfferCtrl.additionalInfo">
                    </div>
                </div>
                <label for="selectAgeMin" class="col-xs-4 control-label" id="labelAge">Preffered age</label>
                <div class="col-xs-3">
                    <select class="form-control" id="selectAgeMin" ng-model="addOfferCtrl.preferredAge">
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="33">33</option>
                        <option value="43">43</option>
                        <option value="53">53</option>
                    </select>
                </div>
                <div class="col-xs-3">
                    <select class="form-control" id="selectAgeMin">
                        <option>18</option>
                        <option>19</option>
                        <option>20</option>
                        <option>21</option>
                        <option>22</option>
                        <option>23</option>
                        <option>33</option>
                        <option>43</option>
                        <option>53</option>
                    </select>
                </div>
                <label for="selectAgeMin" class="col-xs-4 control-label" id="labelDate">Preffered time</label>
                <div class="col-xs-2">
                    <select class="form-control" id="selectDay">
                        <option>18</option>
                        <option>19</option>
                        <option>20</option>
                        <option>21</option>
                        <option>22</option>
                        <option>23</option>
                        <option>33</option>
                        <option>43</option>
                        <option>53</option>
                    </select>
                </div>
                <div class="col-xs-2">
                    <select class="form-control" id="selectMonth">
                        <option>18</option>
                        <option>19</option>
                        <option>20</option>
                        <option>21</option>
                        <option>22</option>
                        <option>23</option>
                        <option>33</option>
                        <option>43</option>
                        <option>53</option>
                    </select>
                </div>
                <div class="col-xs-2">
                    <select class="form-control" id="selectYear">
                        <option>18</option>
                        <option>19</option>
                        <option>20</option>
                        <option>21</option>
                        <option>22</option>
                        <option>23</option>
                        <option>33</option>
                        <option>43</option>
                        <option>53</option>
                    </select>
                </div>

            </div>
        </fieldset>
    </form>
    <span style="color: red">
        {{addOfferCtrl.err}}
    </span>
    <div class="col-xs-12" >
        <button type="submit" class="btn btn-success" id="button1" ng-click="addOfferCtrl.addOffer()">Add offer</button>
        <a href=#/logged class="btn btn-success" id="button123">Back</a>
    </div>
</div>
