img#logo {
  margin: 0;
  padding-right: 5px;
  max-height: 25px;
  display: inline-block;
}

.uib-datepicker {
  display: inline-block;
}

.container > .row {
  padding-bottom: 10px;
  margin-bottom: 10px;
}