<div class="col-md-12" id="cont1">
    <ul class="nav nav-tabs" id="tabs2">
        <li class="active"><a href="#home" data-toggle="tab" id="date">Date</a></li>
        <li><a href="#profile" data-toggle="tab" id="game">Game</a></li>
        <li><a href="#profile2" data-toggle="tab" id="party">Party</a></li>
        <li><a href="#profile3" data-toggle="tab" id="custom">Custom</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="home">
            <p>Buddies , looking after date, love, relax, fun !</p>
        </div>
        <div class="tab-pane fade" id="profile">
            <p>Buddies, looking for partner to playing/watching games (football, basketball, tennis etc..)</p>
        </div>
        <div class="tab-pane fade" id="profile2">
            <p>Buddies, looking for partner for drinking, going to club, have some fun!</p>
        </div>
        <div class="tab-pane fade" id="profile3">
            <p>Other buddies,custom desires :> </p>
        </div>
    </div>
</div>
